@import '_variables.scss';

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;

    &:hover {
        color: black;
    }
}

.api-response {
    margin-top: 16px;
    border-radius: 18px;
    padding: 8px;
    text-align: center;
}

.btn-primary {
    background-color: $primary-color !important;
    border: none !important;
    font-weight: 700 !important;


    &:hover {
        background-color: $primary-color-dark !important;
    }
}
