a {
  text-decoration: none;
  color: inherit;
  cursor: pointer; }
  a:hover {
    color: black; }

.api-response {
  margin-top: 16px;
  border-radius: 18px;
  padding: 8px;
  text-align: center; }

.btn-primary {
  background-color: #0081a7 !important;
  border: none !important;
  font-weight: 700 !important; }
  .btn-primary:hover {
    background-color: #005f7c !important; }

main {
  min-height: 100vh; }

.authentication {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #0081a7;
  border-radius: 18px;
  width: 90%;
  margin: 0px; }
  .authentication button {
    margin: 0 auto;
    display: block; }

.authentication-logo {
  /*display: flex;
    justify-content: center;*/
  text-align: center;
  font-size: 26px;
  color: #0081a7; }

.authentication-header {
  text-align: center;
  font-size: 26px;
  color: #0081a7; }

.authentication-switch {
  font-weight: 700;
  text-align: right; }
  .authentication-switch .active {
    color: #0081a7; }

@media (min-width: 992px) {
  .authentication {
    width: 35%; } }
